h2 {
  font-size: 2rem;
  color: #1a1a1a;
  margin-bottom: 20px;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #e69090;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  border: 5px solid #888;
  width: 50%;
  position: relative;
}

.close {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close:hover {
  color: #888;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  padding: 12px 15px;
  text-align: center;
  border: 1px solid #000000;
}

table th {
  background-color: #1a1a1a;
  color: white;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #c6c6c6;
  color: #000000;
}

table tr.contact-row {
  background-color: #f6bebe;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}

button:hover {
  border-color: #e69090;
  background-color: #000000;
  color: white;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.delete {
  background-color: #dc3545;
}

button.delete:hover {
  background-color: #a71d2a;
}

input, button, label {
  margin-top: 10px;
}

input {
  padding: 8px 12px;
  border: 3px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 400px;
}

input:focus {
  outline: none;
  border-color: #e69090;
  box-shadow: 0 0 4px rgba(190, 41, 41, 0.8);
}

label {
  display: block;
  text-align: center;
}
